<div class="row">
  <div class="col-md-4">User Name</div>
  <div class="col-md-8"><input type="text" ng-model="name"></input></div>
</div>
<div class="row">
  <div class="col-md-4">Email</div>
  <div class="col-md-8"><input type="text" ng-model="email"></input></div>
</div>
<div class="row">
  <div class="col-md-4">Password</div>
  <div class="col-md-8"><input type="password" ng-model="password"></input></div>
</div>
<!-- <div class="row">
  <div class="col-md-4">Admin?</div>
  <div class="col-md-8"><input type="checkbox" ng-model="isadmin"></div>
</div> -->