
<div class="panel-heading">
  <h3>Event Information</h3>
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-md-2">User</div>
    <div class="col-md-10"><input type="text" ng-model="input_userID"></input></div>
  </div>
  <div class="row">
    <div class="col-md-2">Title</div>
    <div class="col-md-10"><input type="text" ng-model="input_title"></input></div>
  </div>
  <div class="row">
    <div class="col-md-2">Cost</div>
    <div class="col-md-10"><input type="text" ng-model="input_cost"></input></div>
  </div>
  <div class="row">
    <div class="col-md-2">Location</div>
    <div class="col-md-10"><input type="text" ng-model="input_location"></input></div>
  </div>
  <div class="row">
    <div class="col-md-2">Description</div>
    <div class="col-md-10"><input type="text" ng-model="input_description"></input></div>
  </div>
  <div class="row">
    <div class="col-md-2">Category</div>
    <div class="col-md-10">
      <select class="form-control" ng-model="input_category">
        <option ng-repeat="category in Categories">{{category}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">Privacy</div>
    <div class="col-md-10">
      <select class="form-control" ng-model="input_privacy">
        <option>Public</option>
        <option>Private</option>
        <option ng-repeat="group in Groups">{{group.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">Date</div>
    <div class="col-md-10">
      <uib-datepicker
        ng-model="input_date"
        datepicker-options="date_options"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">Starting Time</div>
    <div class="col-md-10">
      <uib-timepicker
        ng-model="input_time_start"
        hour-step="hstep"
        minute-step="mstep"
        show-meridian="hours_24"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">Ending Time</div>
    <div class="col-md-10">
      <uib-timepicker
        ng-model="input_time_end"
        hour-step="hstep"
        minute-step="mstep"
        show-meridian="hours_24"
      />
    </div>
  </div>

  <div class="row">
    <button class="btn btn-success btn-large btn-block" ng-click="onClick_save()">
      Save Event
    </button>
  </div>
</div>