<link rel="stylesheet" href="/bower_components/angular-google-places-autocomplete/src/autocomplete.css">
<link rel="stylesheet" href="/css/edit_event.css">
<h3>Event Information</h3>

<uib-alert ng-model="alert" ng-show="alert != null" type="{{alert.type}}">{{alert.msg}}</uib-alert>
<form name="eventForm" novalidate>
  <div class="form-group">
    <label class="control-label">Title:</label>
    <div class="control input-group fullwidth">
      <input type="text" class="form-control" ng-model="input_title" placeholder="Enter the event title here...">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-show="editEnabled" type="button">Update</button>
      </span>
    </div><!-- /input-group -->
  </div>
  <div class="form-group">
    <label class="control-label">Cost:</label>
    <div class="input-group fullwidth control">
      <input type="number" class="form-control" ng-model="input_cost" placeholder="0">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-show="editEnabled" type="button">Update</button>
      </span>
    </div><!-- /input-group -->
  </div>
  <div class="form-group">
    <label class="control-label">Location:</label>
    <div class="input-group fullwidth control">
      <input type="choice" class="form-control" g-places-autocomplete ng-model="input_location" placeholder="CU Boulder?">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-show="editEnabled" type="button">Update</button>
      </span>
    </div><!-- /input-group -->
  </div>
  <div class="form-group">
    <label class="control-label">Description:</label>
    <div class="input-group fullwidth control">
      <input type="text" class="form-control" ng-model="input_description" placeholder="Enter a description for this event...">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-show="editEnabled" type="button">Update</button>
      </span>
    </div><!-- /input-group -->

  </div>
  <div class="form-group">
    <label class="control-label">Category:</label>
    <div class="input-group fullwidth control">
      <select class="form-control" ng-model="input_category">
        <option ng-repeat="category in Categories">{{category}}</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-default" ng-show="editEnabled" type="button">Update</button>
      </span>
    </div><!-- /input-group -->
  </div>
  <div class="form-group">
    <label class="control-label">Privacy</label>
    <div class="input-group fullwidth control">
      <select class="form-control" ng-model="input_privacy">
        <option value="Public">Public</option>
        <option value="Private">Private</option>
        <option ng-repeat="group in Groups" value="{{group.calendar}}">{{group.name}}</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-default" ng-show="editEnabled" type="button">Update</button>
      </span>
    </div><!-- /input-group -->
  </div>

  <div class="form-group">
    <label class="control-label">Start of the Event</label>
    <div class="input-group">
      <input
        class="form-control"
        type="text"
        ng-model="input_date_start"
        required
        uib-datepicker-popup="dd.MM.yyyy"
        is-open="dateStart.opened"
        ng-focus="dateStart.opened = true"
        datepicker-options="date_options"
      > <!-- end input -->
      <uib-timepicker
        ng-model="input_time_start"
        hour-step="hstep"
        minute-step="mstep"
        show-meridian="hours_24"
      /> <!-- end input -->
    </div><!-- /input-group -->
  </div>

  <div class="form-group">
    <label class="control-label">Start of the Event</label>
    <div class="input-group">
      <input
        class="form-control"
        type="text"
        ng-model="input_date_end"
        required
        uib-datepicker-popup="dd.MM.yyyy"
        is-open="dateEnd.opened"
        ng-focus="dateEnd.opened = true"
        datepicker-options="date_options"
      > <!-- end input -->
      <uib-timepicker
        ng-model="input_time_end"
        hour-step="hstep"
        minute-step="mstep"
        show-meridian="hours_24"
      /> <!-- end input -->
    </div><!-- /input-group -->
  </div>

  <div class="row">
    <button class="btn btn-success btn-large btn-block" ng-click="onClick_save()">
      Save Event
    </button>
  </div>
</form>