<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Event Information</h3>
  </div>
  <div class="panel-body">
    Title: <input type="text" ng-model="input_title"></input></br>
    Cost: <input type="text" ng-model="input_cost"></input></br>
    Category: <input type="text" ng-model="input_category"></input></br>
    Location: <input type="text" ng-model="input_location"></input></br>
    Description: <input type="text" ng-model="input_description"></input></br>
  </div>
</div>