<div class="row">
  <div><h1 class="text-center"><u>{{event.title}}</u></h1></div>
</div>
<div class="row">
  <div><h2>Cost: {{event.cost}}</h2></div>
</div>
<div class="row">
  <div class="col-md-2"><b>Location</b></div>
  <div class="col-md-10">
    {{event.location}}
  </div>
</div>
<div class="row">
  <div class="col-md-2"><b>Description</b></div>
  <div class="col-md-10">
    {{event.description}}
  </div>
</div>
<div class="row">
  <div class="col-md-2"><b>Category</b></div>
  <div class="col-md-10">
    {{event.category}}
  </div>
</div>
<div class="row">
  <div class="col-md-2"><b>Start</b></div>
  <div class="col-md-10">
    {{dateBegin}}
  </div>
</div>
<div class="row">
  <div class="col-md-2"><b>End</b></div>
  <div class="col-md-10">
    {{dateEnd}}
  </div>
</div>

<button class="btn btn-warning btn-block" type="button" ng-click="event_clicked_edit()">Edit this Event</button>
<button class="btn btn-danger btn-block" type="button" ng-click="event_clicked_delete()">Delete this Event</button>
<button class="btn btn-info btn-block" type="button" ng-click="event_clicked_report()">Report this Event</button>
