<div class="row">
  <div><h1>{{event.title}}</h1></div>
</div>
<div class="row">
  <div><h2>{{event.cost}}</h2></div>
</div>
<div class="row">
  <div>{{event.location}}</div>
</div>
<div class="row">
  <div class="col-md-2">Description</div>
  <div class="col-md-10"><input type="text" ng-model="event.description"></input></div>
</div>
<div class="row">
  <div class="col-md-2">Category</div>
  <div class="col-md-10">
    {{event.category}}
  </div>
</div>
<div class="row">
  <div class="col-md-2">Date</div>
  <div class="col-md-10">
    Value
  </div>
</div>
<div class="row">
  <div class="col-md-2">Starting Time</div>
  <div class="col-md-10">
    Value
  </div>
</div>
<div class="row">
  <div class="col-md-2">Ending Time</div>
  <div class="col-md-10">
    Value
  </div>
</div>
