<div class="panel-heading">
  <h3>Notifications</h3>
</div>
<div class="col-md-10">
    <div ui-view></div>
</div>
 <!--<div class="panel-body">
  <div class="row">
    <div class="col-md-2">User</div>
    <div class="col-md-10"><input type="text" ng-model="input_userID"></input></div>
  </div>
  <div class="row">
	<div class="col-md-2">Notifications</div>
	<div class="col-md-10">THESE ARE NOTIFICATIONS</div>
  </div>
  <div class="row">
	<div class="col-md-2">Cleared Notifications</div>
	<div class="col-md-10">THESE USED TO BE NOTIFICATIONS</div>
  </div>
 
  <div class="row">
    <button class="btn btn-success btn-large btn-block" ng-click="onClick_save()">
      Save
    </button>
  </div>
</div>
-->

